:root {
  --hue-neutral: 200;
  --hue-wrong: 0;
  --hue-correct: 145;
}
body{
	 --hue: var(--hue-neutral);
	margin: 0;
	padding: 0;
	background-color: hsl(var(--hue), 100%, 20%);
}
body.correct {
  --hue: var(--hue-correct);
}

body.wrong {
  --hue: var(--hue-wrong);
}
.btn:hover {
  border-color: black;
}

.btn.correct {
  --hue: var(--hue-correct);
  color: black;
}

.btn.wrong {
  --hue: var(--hue-wrong);
}
.btn {
  --hue: var(--hue-neutral);
  border: 1px solid hsl(var(--hue), 100%, 30%);
  background-color: hsl(var(--hue), 100%, 50%);
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
}
.preloader{
	align-items: center;
	background: rgb(206, 233, 234);
	display: none;
	height: 100vh;
	justify-content: center;
	left: 0;
	position: fixed;
	top: 0;
	transition: opacity 0.3s linear;
	width: 100%;
	z-index: 999;
}

#question{
	font-weight: bold;
	font-size: 24px;
	color: black;
}
button.btn{
	padding: 18px 60px;
	white-space: normal;
	-webkit-transform: scale(1.0);
	-moz-transform: scale(1.0);
	-o-transform: scale(1.0);
	-webkit-transition-duration: .3s;
	-moz-transition-duration: .3s;
	-o-transition-duration: .3s;

}
button.btn:hover{
	text-shadow: 0 3px 2px rgb(0,0,0, 0.4);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
}
button.btn-block{
	text-align: left;
	position: relative;
}

button.btn-lablel{
	position: absolute;
	left: 0;
	top: 0;
	display: inline-block;
	padding: 0 10px;
	background: rgb(0,0,0,.15);
	height: 100%;
}

button.fa{
	top: 34%;
}

.element-animation{
	animation: animationFrames ease .8s;
	animation-iteration-count: 1;
	transform-origin: 50% 50%;
	-webkit-animation: animationFrames ease .8s;
	-webkit-animation-iteration-count: 1;
	-webkit-transform-origin: 50% 50%;
	-ms-animation: animationFrames ease .8s;
	-ms-animation-iteration-count: 1;
	-ms-transform-origin: 50% 50%;
}
@keyframes animationFrames {
	0%{
		opacity: 0;
		transform: translate(-1500px,0px);
	}

	60%{
		opacity: 1;
		transform: translate(30px,0px);
	}

	80%{
		transform: translate(-10px,0px);
	}

	100%{
		opacity: 1;
		transform: translate(0px,0px);
	}
}


@-webkit-keyframes animationFrames {
	0%{
		opacity: 0;
		-webkit-transform: translate(-1500px,0px);
	}

	60%{
		opacity: 1;
		-webkit-transform: translate(30px,0px);
	}

	80%{
		-webkit-transform: translate(-10px,0px);
	}

	100%{
		opacity: 1;
		-webkit-transform: translate(0px,0px);
	}
}
@-ms-keyframes animationFrames {
	0%{
		opacity: 0;
		-ms-transform: translate(-1500px,0px);
	}

	60%{
		opacity: 1;
		-ms-transform: translate(30px,0px);
	}

	80%{
		-ms-transform: translate(-10px,0px);
	}

	100%{
		opacity: 1;
		-ms-transform: translate(0px,0px);
	}
}

.modal-header{
	background-color: transparent;
	color: inherit;
}

.modal-body{
	min-height: 205px;
}

.modal-content{
	/*background: url(../images/happyminion.png);*/
}
.modal-dialog{
	width: 954px !important;
}
.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}
.nummix{
	background: url(../images/bg.jpeg);
	background-size: cover;
	height: 100vh
}
.subset{
	background: url(../images/subset_example1_0.png);
	background-size: cover;
	height: 100vh
}
.label{
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select: none;
}

.label input{
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark{
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;

}

.label:hover input ~ .checkmark {
  background-color: #ccc;
}

.label input:checked ~ .checkmark{
  background-color: #2196F3;
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none; 
}

.label input:checked ~
.checkmark:after {
  display: block;

}

.label .checkmark:after{
  top: 9px;
  left: 9px;
  width: 8px;
  border-radius: 50%;
  background: white;
}

input[type='radio'] + .label-text:before{
	content: '\f10c';
	font-family: "FontAwesome";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing:antialiased;
	width: 1em;
	display: inline-block;
	margin-right: 5px;
}
input[type='radio']:checked + .label-text:before{
	content: '\f192';
	color: #8e44ad;
	-webkit-animation: effect 250ms ease-in;
	-o-animation: effect 250ms ease-in;
	animation: effect 250ms ease-in;
}
input[type='radio']:disabled + .label-text{
	color: #aaa;
}
input[type='radio']:disabled + .label-text:before{
	content: '\f111';
	color:#ccc;
}
label{
	position: relative;
	cursor: pointer;
	color: #666;
	font-size: 30px;
}

input[type='radio']{
	position: absolute;
	right: 9000px;
}
