*{
	padding: 0;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
}

section{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #82ccdd;
}

section h1{
	text-transform: capitalize;
	font-size: 2rem;
	text-shadow:  1px 1px 2px white;
	animation: zooms 1s linear infinite;
	animation-direction: alternate;
}

@keyframes zooms{
	from{transform: translateX(-20px);}
	to{transform: translateX(20px);}
}

.centerDiv{
	width: 500px;
	height: 400px;
	background-color: #78e08f;
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
}
.insertBox{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
}

#v1,#v2 {
	text-align: center;
	padding: 20px 30px;
	width: 35px;
	font-size: 30px;
	box-shadow: 1px 1px 0px #999,
				2px 2px 0px #999,
				3px 3px 0px #999,
				4px 4px 0px #999,
				5px 5px 0px #999,
				6px 6px 0px #999;
}

.box1 p {
	font-size: 60px;
	margin: 0 8px 0 13px;
}

.middleBox #answ {
	margin:  30px 0px;
	padding: 5px 0;
	font-size: 30px;
	text-align: center;
	width: 180px;
}

.sentBox button {
	padding: 10px 20px;
	font-size: 0.8rem;
	text-transform: uppercase;
	color:white;
	border: none;
	background-color: #079992;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}
